.post-list {
  @apply text-2xl 2xl:text-3xl list-decimal;
  padding-left: 1rem;

  li:not(:last-child) {
    @apply mb-8 2xl:mb-16;
  }

  li {
    color: #BDBDBD;
    transition: color 300ms ease-in-out;

    &.active {
      color: #231F20;
      text-decoration: underline;
    }

    &:hover {
      color: #231F20;
    }
  }

  a {
    display: block;
    padding-left: 1rem;
    cursor: pointer;
  }
}

.post-category {
  @apply w-full text-left uppercase font-roboto border-b-[1px] pb-2;
  color: #BDBDBD;
  transition: color 300ms ease-in-out;

  &.active {
    color: #231F20;
  }

  &:hover {
    color: #231F20;
  }
}

.button {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;

  &--primary {
    @apply bg-white;

    &:hover {
      @apply bg-black text-white;
    }
  }

  &--secondary {
    @apply bg-black text-white border;

    svg {
      @apply duration-300 fill-white;
    }


    &:hover {
      @apply bg-white text-black;

      svg {
        @apply fill-black;
      }

    }


  }

  &--download {
    @apply bg-red text-white;

    &:hover {
      @apply bg-black;
    }
  }
}

.zoom-marker {
  position: absolute;
  top: 25px;
  left: 25px;
  height: 50px;
  width: 50px;
  background: #fff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
