@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../fonts/CabinetGrotesk-Regular.otf");
  src: url("../fonts/CabinetGrotesk-Regular.otf") format("woff"),
  url("../fonts/CabinetGrotesk-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Calendas Plus Bold";
  src: url("../fonts/CabinetGrotesk-Bold.otf");
  src: url("../fonts/CabinetGrotesk-Bold.otf") format("woff"),
  url("../fonts/CabinetGrotesk-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Calendas Plus Italic";
  //src: url("../fonts/Calendas_Plus_Italic.otf");
  //src: url("../fonts/Calendas_Plus_Italic.otf") format("woff"),
  //url("../fonts/Calendas_Plus_Italic.otf") format("opentype");
  font-style: italic;
}

@layer base {
  html {
    font-family: Cabinet Grotesk, sans-serif;
    @apply scroll-smooth;
  }
}

@import "menu";
@import "swiper";
@import "effects";
@import "components";