.menu {

  &__list {
    display: flex;

    li {
      max-width: 80px;
    }
  }

  &__link {
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__logo {
    margin: 0 48px;

    h2 {
      font-family: 'Barlow', sans-serif;
      font-size: 14px;
      text-align: center;
      margin-top: -5px;
    }
  }
}