.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 1rem !important;

  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -3px;

    .swiper-pagination-bullet-active {
      @apply bg-red;
    }

  }
}

.slider-item {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  text-align: center;

  img {
    width: 100%;
  }
}

.slider {
  &__title {
    @apply text-xl text-2xl xl:text-3xl;
  }
}

.slider-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -7px;
  width: 100%;

  .swiper-button-next, .swiper-button-prev {
    position: relative;
  }

  .swiper-button-next::after, .swiper-button-prev::after {
    content: "";
  }

  &--tags {
    bottom: 12px;
  }
}